/*reglas
selectores --> Identificar elementos en el HTML
  etiqueta: header - section - article - nav
  descendente: body > header > div > nav > ol > li > a
  clase: .link
  id: #link
declaraciones
propiedades
valores*/

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  margin: 0px;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  /* width: 90%; */
  flex: 0.9;
  margin: 0px auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

figure {
  margin: 0px;
}

ol, ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h1 {
  line-height: 150%;
  font-size: 40px;
  letter-spacing: -.7px;
  color: whitesmoke;
  margin: 0px;
  /*text-transform: uppercase;
  text-decoration: underline;*/
}

h1 strong {
  color: #026fff;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-weight: 900;
}

.header {
  background-color: #1b2729;
  color: whitesmoke;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  flex-wrap: wrap;
}

.header ol {
  margin: 0px;
  height: inherit;
  display: flex;
}

.header ol li {
  height: inherit;
}

.header a {
  color: whitesmoke;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  font-weight: bold;
}

.menu {
  height: inherit;
}

.hero {
  height: 300px;
  background-position-x: right;
  background-color: #1b2223;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image {
  object-fit: cover;
}

.portfolio {
  background-color: #ededed;
  padding: 20px;
}

.project {
  border: 1px solid grey;
  border-radius: 10px;
  background-color: whitesmoke;
  margin-bottom: 15px;
  padding: 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-details {
  width: 50%;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-course {
  font-weight: bold;
}

.project-course, .project-date, .project-url {
  margin: 10px 0px;
  color: darkslategray;
  font-size: 18px;
}

.project-description {
  font-size: 20px;
}

.project-imageContainer {
  width: 50%;
}

.project-imageContainer img {
  max-width: 100%;
}

.event-list-title {
  margin-left: 20px;
  margin-top: 30px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event {
  margin: 1%;
  width: 48%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #e3f1f5;
}

.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  margin-top: -50px;
  background-color: whitesmoke;
  position: relative;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.event-url {
  color: #026fff;
  border: 1px solid;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
}



.contact {
  background-color: #026fff;
  color:whitesmoke;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form-email input {
  display: block;
  border-color: #1b2223;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
}

.form-email button {
  color: whitesmoke;
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  background: transparent;
  padding: 5px 15px;
  border-radius: 5px;
  border-style: solid;
  border-color: whitesmoke;
  width: 100px;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0px 10px;
}

.social-link.twitter {
  background-image: url('../images/twitter.svg');
}

.social-link.facebook {
  background-image: url('../images/facebook.svg');
}

.social-link.github {
  background-image: url('../images/github.svg');
}

.social-link.instagram {
  background-image: url('../images/instagram.svg');
}

footer {
  height: auto;
  color: whitesmoke;
  background-color: #1b2223;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer div {
  display: flex;
  align-items: center;
  margin: 0px;
  flex-wrap: wrap;
}

footer div p {
  margin: 15px;
  align-items: center;
  font-size: 0.9em;
}

footer a {
  color: aliceblue;
}

@media screen and (max-width: 1024px){
  
}

@media screen and (max-width: 767px){
  .header {
    display: block;
    height: auto;
  }

  .header ol {
    display: initial;
  }

  .header ol li {
    height: 40px;
    text-align: center;
  }

  .header a {
    justify-content: center;
  }

  .header .logo {
    text-align: center;
  }

  .project {
    display: block;
  }

  .project-course, .project-date, .project-url {
    margin: 0.5em 0;
  }

  .project-imageContainer {
    width: auto;
    text-align: center;
  }
  
  .project-details {
    width: auto;
    font-size: 15px;
  }

  .project-title {
    font-size: 1em;
    margin-bottom: 0.3em;
  }

  .project-url {
    font-size: 1em;
  }

  .project-course {
    font-size: 1em;
  }

  .project-date {
    font-size: 1em;
  }

  .project-description {
    font-size: 1em;
  }

  .event {
    width: auto;
    flex-shrink: initial;
  }

  .event img {
    width: 100%;
  }

  .event-detail {
    margin: -2em .5em .5em;
    padding: 1em;
  }

  .contact {
    height: auto;
    padding: 1em 0;
  }

  .footer {
    font-size: 1em;
  }

  .footer div {
    display: block;
    padding: 1em;
  }

  .footer div p {
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  .footer div img {
    display: block;
    margin: 0 auto;
  }

}

@media screen and (max-width: 479px){
  .project-details {
    width: auto;
    font-size: 12px;
  }

  .form-email input{
    display: flex;
    margin: 0 auto;
  }

  .form-email button {
    margin: 1em auto;
  }

  .social {
    padding-top: 1em;
  }

  .social-link {
    width: 2em;
    height: 2em;
    background-size: 2em;
  }
  
}

@media screen and (max-width: 320px){
  
}