/*reglas
selectores --> Identificar elementos en el HTML
  etiqueta: header - section - article - nav
  descendente: body > header > div > nav > ol > li > a
  clase: .link
  id: #link
declaraciones
propiedades
valores*/

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'El Messiri', sans-serif;
  font-weight: normal;
}

h1 {
  line-height: 150%;
  font-size: 40px;
  letter-spacing: -.7px;
  /*text-transform: uppercase;
  text-decoration: underline;*/
}