./images/favicon.png 
./images/logo.png 
./images/platzi-video-react-native.png 
./images/platzi.png
portfolio.png
./images/favicon.png 
./images/logo.png 
./images/platzi-video-react-native.png 
./images/platzi.png
./images/hero.jpg 
./images/platzi-conf.jpg
./images/envelope.svg 
./images/facebook.svg 
./images/github.svg 
./images/instagram.svg 